<div class="container-fluid d-flex justify-content-start p-0">
    <aside class="col-md-2 hidden-sm p-0">

        <!--filtro categoria-->


        <article class="card-group-item d-flex justify-content-start p-0">
            <div class="container p-0">
                <header class="card-header">
                    <h6 class="title d-flex justify-content-center ">Categoria </h6>
                </header>
            </div>

        </article>
        <div class="filter-content">
            <label class="form-check">
                <div *ngFor="let item of listCategoria">
                    <div>
                        <a href="" class=""> {{item.nome}} </a>
                    </div>
                </div>
            </label>
        </div>
        <!--filtro material-->
        <article class="card-group-item">

            <header class="card-header">
                <h6 class="title"></h6>
            </header>

            <div class="filter-content">
                <div class="card-body">
                    <label class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadio" value="">
                        <span class="form-check-label">
                            Plástico
                        </span>
                    </label>

                    <label class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadio" value="">
                        <span class="form-check-label">
                            Metal
                        </span>
                    </label>

                    <label class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadio" value="">
                        <span class="form-check-label">
                            Tecido
                        </span>
                    </label>

                </div>
            </div>
        </article>

        <!--filtro cor-->
        <article class="card-group-item">

            <header class="card-header">
                <h6 class="title">Cor</h6>
            </header>

            <div class="filter-content">
                <div class="card-body">

                    <label class="btn btn-danger">
                        <input class="" type="hidden" name="myradio" value="">
                        <span class="form-check-label">Vermelho</span>
                    </label>

                    <label class="btn btn-success">
                        <input class="" type="hidden" name="myradio" value="">
                        <span class="form-check-label">Verde</span>
                    </label>

                    <label class="btn btn-primary ml-1">
                        <input class="" type="hidden" name="myradio" value="">
                        <span class="form-check-label">Azul</span>
                    </label>

                    <label class="btn btn-warning">
                        <input class="" type="hidden" name="myradio" value="">
                        <span class="form-check-label">Amarelo</span>
                    </label>

                </div>
            </div>
        </article>

        <!--filtro faixa de preço-->
        <article class="card-group-item">

            <header class="card-header">
                <h6 class="title">Faixa de preço </h6>
            </header>

            <div class="filter-content">
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Min</label>
                            <input type="number" class="form-control" id="inputEmail4" placeholder="R$0">
                        </div>
                        <div class="form-group col-md-6 text-right">
                            <label>Max</label>
                            <input type="number" class="form-control" placeholder="R$">
                        </div>
                    </div>
                </div>
            </div>
        </article>

    </aside>




<!--fim do sidebar-filtro-->



<!--inicio grupo de cards fileira 1-->

<div class="container ">
    <div class="row row-cols-md-4 w-100 mt-5">
        <div class="col" *ngFor="let item of listProduto">
            <div class="card">
                <img src="{{item.produtoImagem}}" class="card-img-top" alt="...">
            </div>
                <div class="card-body border mt-2">
                    <button class="btn btn-outline-info ">comprar</button>
                    <h5 class="card-title">{{item.nome}}</h5>
                    <p>{{item.descricao}}</p>
                </div>
            
        </div>

    </div>
    <div class="container">
        <ul class="pagination d-flex justify-content-center align-items-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Próxima</a>
            </li>
        </ul>
    </div>






</div>
<!--fim grupo de cards fileira 1-->
</div>
    