.botao-config:focus, .btn:active{
    outline:none !important;
    box-shadow: none !important;
}
.botao-config{
    border:none;
    font-weight: bolder;
    height: 40px;
    width: 100px;
    color: white;
background-color: #a125ce;
}
.botao-config:hover{
    color: white;
    background-color: #a125ce;
}
.neon:active{
    color: white;
    background-color: #2f4ac2;
    box-shadow: 0 0 0 0;
    border: 0 none;
}
.lupa-btn:hover{
    color:#a125ce ;
}
.filtro{
    list-style: none;
}
a{
    color: black;
}
a:hover{
    color: #be09ff;
    text-decoration: none;
}
.text-input{
    width: 50px
  }
.btpFiltro{
    border: none;
    padding: 5px;
    background-color: white;
    color: black;
    outline:none !important;
    box-shadow: none !important;

}
.search-button{
    height:38px;
    width: 40px;
}
.cor-preco{
    font-weight: bold;
    color: #a125ce;
}
.font-preco{
    font-size: 30px;
}
.border{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 2% 2% 2% 2%;
}
.bg-card{
    background-color:  #f8f8f8;
}
.btn-categoria:hover{
    color:#be09ff ;
}

.margin-categoria{
    margin-top: 70px;
}
#serchBar{
    max-width: 500px;
}
img{
    max-width: auto;
   max-height: 353.812;
   width: auto;
   min-width: 265;
   min-height: 270;
 
}
.col-md-2{
    height: auto;
    width: auto;

}
