
a{
    color: black;
}
a:hover{
    color: #be09ff;
    text-decoration: none;
}
.text-input{
    width: 150px
  }
  .btpFiltro{
    border: 0;
    padding: 5px;
    background-color: white;
    color: #000;
}
  