<div class="fundo mt-5" style="min-height: 500px;">
    <div class="container">
      <h1 class="text-center mb-5 mt-2">Minhas Compras</h1>
      <div class="row">
        <div class="container col-9">
          <table class="table table-bordered">
            <tr>
              <th width="30%">Imagem do produto</th>
              <th width="20%">Detalhes</th>
              <th width="50%">Valores</th>
            </tr>
   
            <tr>
              <td>
                <img width="100px" height="100px" />
              </td>
              <td>
                <p></p>
                <p></p>
              </td>
              <td>
                <div class="items">
                  <label>Quantidade:</label><br>
                  <label>Valor:</label>
   
                  <div class="row no-gutters">
   
   
                    <div class="col-1" style="font-size: 18px; font-weight: 700; margin-top: 5px;">
   
                    </div>
   
   
                  </div>
   
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-3 dados_compra" style="max-height: 182px;">
          <div class="shadow-sm" style="padding:5px 15px !important;">
            <h5 style="font-weight: bolder;">Dados da compra</h5>
            <div style="font-weight: bold;">
              <p>Quantidade Total: </p>
              <p>Frete: gratuito</p>
              <p>Valor total: R$</p>
            </div>
          </div>
        </div>
      </div>
      <br />
   
      <h5>Dados de pagamento</h5>
      <hr />
   
      <div class="form-row">
   
        <div class="form-group col-md-3">
          <select class="form-control opcao_borda">
            <option hidden value="">Selecione uma opção</option>
            <option value="dinheiro">Dinheiro</option>
            <option value="debito">Débito</option>
            <option value="debito">Crédito</option>
          </select>
        </div>
      </div>
   
      <hr />
      <div class="justify-content-end d-flex">
        <button class="btn neon botao-config">COMPRAR</button>
      </div>
    </div>
  </div>