<div class="fundo mt-5" style="min-height: 500px;">
  <div class="container">
    <h1 class="text-center mb-5 mt-2">Minhas Compras</h1>
    <div class="row">
      <div class="container col-9">
        <table class="table table-bordered borda">
          <tr>
            <th width="30%" class="borda">Imagem do produto</th>
            <th width="20%" class="borda">Detalhes</th>
            <th width="50%" class="borda">Valores</th>
          </tr>

          <tr>
            <td class="borda">
              <img src="{{produto.produtoImagem}}" width="100px" height="100px" />
            </td>
            <td class="borda">
              <p><b> Nome: {{produto.nome}} </b></p>
              <p> <b> Cor: {{produto.cor}} </b></p>
              <p> <b> Material: {{produto.material}} </b></p>
            </td>
            <td class="borda">
              <div class="items">
                <div class="d-flex justifi-content-center">
                  <h5>Quantidade: </h5>

                  <p type="text" class="form-control text-center ml-2 mr-2 w-25" value="1" min="0" max="20">{{contador}}
                  </p>

                  <button class="btn neon cont" (click)="decrementa()"> - </button>

                  <button class="btn neon cont" (click)="incrementa()"> + </button>
                </div>

                <div class="d-flex justifi-content-center">
                  <h5>Valor:</h5>

                  <p type="text" class="form-control text-center ml-2 w-25" value="1">
                    {{  produto.preco}}</p>

                </div>


                <div class="row no-gutters">


                  <div class="col-1 " style="font-size: 18px; font-weight: 700; margin-top: 5px;">

                  </div>


                </div>

              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-3 dados_compra" style="max-height: 182px;">
        <div class="shadow-sm" style="padding:5px 15px !important;">
          <h5 style="font-weight: bolder;">Dados da compra</h5>
          <div style="font-weight: bold;">
            <p>Quantidade Total: {{contador}}</p>
            <p>Frete: gratuito</p>
            <p>Valor total: R$ {{(produto.preco * contador).toFixed(2)}}</p>
          </div>
        </div>
      </div>
    </div>
    <br />

    <h5>Dados de pagamento</h5>
    <hr class="mb-4" />

    <div class="form-row">

      <div class="form-group col-md-3">
        <select class="form-control opcao_borda">
          <option hidden value="">Selecione uma opção</option>
          <option value="dinheiro">Dinheiro</option>
          <option value="debito">Débito</option>
          <option value="debito">Crédito</option>
        </select>
      </div>
    </div>

    <hr class="mb-5" />
    <div class="justify-content-end d-flex">
      <button class="btn neon botao-config mr-2" (click)="voltar()">VOLTAR</button>
      <button class="btn neon botao-config" (click)="comprado()">COMPRAR</button>

    </div>
  </div>
</div>