<div class=" container align-items-center">
    <header class="d-flex bg- dark align-items-center justify-content-center">
        <div class="text-dark container-fluid row justify-content-center align-items-center" >
            <div class="d-flex flex-column align-items-center justify-content-around">
                <h1 class="font-cookie display-4 text-center">Quem Somos</h1>
                <div class="d-flex w-100 justify-content-around">
                    
                    <p id="texto text-center">
                        A Fitha nasce da união do acesso de produtos artesanais e a 
                        ligação dos pequenos produtos de arte. Assim fortalece a 
                        família e a comunidade local.
                    </p>
                </div>
                <h1 class="font-cookie display-4 text-center">Nosso Time</h1>
                <div class="container align-items-center row" >
                    <div class="d-flex border-0 justify-content-center align-items-center" >
                        <div>
                        <div class="d-flex justify-content-center">
                            <img class="card-img-top rounded-circle p-3" style="width: 250px; height:250px" src="https://i.imgur.com/xUsLkrM.jpg" alt="Foto da Claudia">
                        </div>
                        
                        <div class="card-body">
                            <h5 class="card-title text-center tet-monospace">Claudia Yapuchura</h5>
                            <p class="card-text text-center text-monospace">Estudante Desenvolvedora Java Jr. na Generation Brasil.</p>   
                        </div>
                        </div>
                        <div>
                        <div class="d-flex justify-content-center">
                            <img class="card-img-top rounded-circle p-3" style="width: 250px; height:250px" src="https://i.imgur.com/vrJ4KfI.png" alt="Foto da Evelyn">
                        </div>

                        <div class="card-body">
                            <h5 class="card-title text-center tet-monospace">Evelyn Oliveira</h5>
                            <p class="card-text text-center text-monospace">Estudante Desenvolvedora Java Jr. na Generation Brasil.</p>
                        </div>
                        </div>
                        <div>
                        <div class="d-flex justify-content-center">
                            <img class="card-img-top rounded-circle p-3" style="width: 250px; height:250px" src="https://i.imgur.com/qNC76Og.png" alt="Foto do Guilherme">
                        </div>
                        
                        <div class="card-body">
                            <h5 class="card-title text-center tet-monospace">Guilherme Carvalho</h5>
                            <p class="card-text text-center text-monospace">Estudante Desenvolvedor Java Jr. na Generation Brasil.</p>
                        </div>
                        </div>
                        <div>
                        <div class="d-flex justify-content-center">
                            <img class="card-img-top rounded-circle p-3" style="width: 250px; height:250px" src="https://i.imgur.com/23Kd572.png" alt="Foto do Icaro">
                        </div>
                        
                        <div class="card-body">
                            <h5 class="card-title text-center tet-monospace">Icaro Duarte</h5>
                            <p class="card-text text-center text-monospace">Estudante Desenvolvedor Java Jr. na Generation Brasil.</p>
                        </div>
                        </div>
                        <div>
                        <div class="d-flex justify-content-center">
                            <img class="card-img-top rounded-circle p-3" style="width: 250px; height:250px" src="https://i.imgur.com/7r23elP.png" alt="Foto do Icaro">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center tet-monospace">Matheus Alexandrino</h5>
                            <p class="card-text text-center text-monospace">Estudante Desenvolvedor Java Jr. na Generation Brasil.</p>
                        </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </header>
</div>


