<nav class="navbar navbar-light bg-light d-flex align-items-center ">
  <div class="d-flex align-items-center">

    <div id="menuToggle">
      <input type="checkbox" />

      <span></span>
      <span></span>
      <span></span>

      <ul id="menu" class="menuClose">
        <a id="home" routerLink="/home">
          <li>Home</li>
        </a>
        <a id="quemSomos" routerLink="/quemsomos" class="menuClose">
          <li>Quem somos</li>
        </a>
        <a id="testando" routerLink="/contato" class="menuClose">
          <li>Contato</li>
        </a>
        <a id="produto" class="text-center  " routerLink="/produtos" class="menuClose">
          <li>Produtos</li>
        </a>
      </ul>
    </div>
    <img src="../../assets/logo.png" alt="" width="80px" routerLink="/home" class="semborda">
  </div>

  <div class="d-flex align-items-center">

    <div *ngIf='auth.btnLogin()'>
      <button type="button" class="btn btn-outline-light botao-borda b-0 p-0 mr-2 ml-0" routerLink="/login">
        <svg width=" 20px" height="20px" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
          <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
          <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
        </svg>
        Entrar
      </button>
    </div>

    <div *ngIf='auth.btnSair()'>

      <button type="button" class="btn btn-outline-light b-0 mr-2 botao-borda p-0">
        <svg width=" 20px" height="20px" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg" (click)='sair()'>
          <path
            d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
          <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
          <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
        </svg>
        Sair
      </button>

    </div>
    <div *ngIf="!admin()">
      <button type="button" class="btn b-0 mr-2 botao-borda btn-outline-light p-0">
        <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-cart-plus-fill" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM4 14a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm7 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0   0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
        </svg>
        Carrinho
      </button>
    </div>


    <div *ngIf="admin()">
      <button type="button" class="btn botao-borda btn-outline-light p-0 carrinho " routerLink="/cadastrar-categoria">
        Cadastrar
      </button>
    </div>

  </div>
</nav>