version: '2.4'
services:
  db:
    command: mysqld --default-authentication-plugin=mysql_native_password 
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      TZ: America/Sao_Paulo
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_DATABASE: fitha
    ports: 
      - "3308:3306"  
    networks:
      - generation-network
  fitha-api:
    restart: always
    build: ./fitha-api
    working_dir: /fitha-api
    environment: 
      TZ: America/Sao_Paulo
      SPRING_BOOT_ENVIRONMENT: Production    
    volumes: 
      - ./fitha-api:/fitha-api  
      - ~/.m2:/root/.m2
    ports: 
      - "9000:8080"
    command: mvn clean spring-boot:run
    links: 
      - db
    depends_on: 
      - db
    networks: 
      - generation-network

  fitah-ui:
    image: nginx
    volumes:
      - ./fitha/dist/Fitha:/usr/share/nginx/html/
    ports:
      - "4200:80"
    networks:
      - generation-network
networks:
    generation-network:
        driver: bridge                