<div class="justify-content-center">
    <header class="d-flex align-items-center justify-content-center mt-5">
        <div class="text-dark container-fluid row justify-content-center align-items-center">
            <div data-packed="true" data-vertical-text="false" style="width: 560px; pointer-events: none;" class="txtNew">
                <h2 style="text-align:center;" class="font_5 quem">
                    <span style="letter-spacing:0.05em;">QUEM SOMOS</span> 
                </h2>
                <p>
                    A Fitha vem inovar o Terceiro Setor ao promover a qualificação profissional de empreendedores de baixa renda para gerar transformação social. Assim fortalece a família e as comunidades onde vivem.
                </p>     
            </div>
        </div>    
    </header>
    <div class="container-fluid mb-4" style="width: 50%;">
        <img class="imageobj" alt="ODS" src="https://i.imgur.com/UUXeWKT.png">
        
    </div>
    <div class="container" style="width: 50%;">
    </div>
    <hr class="w-100 my-0">

    <!--Missão - Fitha-->
    <div style="margin-top: 5em;" >
        <div class="row no-gutters d-flex justify-content-center">
            <div class="col-md-5 pb-5 ml-2">
                <div class="card-body d-flex flex-column h-100 justify-content-center">
                    <h2 class="text-md-left text-center" class="font_5">Missão</h2>
                    <p class="text-md-left text-center">A Fitha serve de elo entre o profissional e o
                        cliente como uma plataforma eficiente para possibilitar o desenvolvimento e ascensão de
                        pequenos artesãos produtores promovendo a criatividade e ao mesmo tempo a inclusão no mercado.
                    </p>
                </div>
            </div>
            <div class="col-md-5 d-flex flex-column align-items-center">
                <img src="https://i.imgur.com/RkKokQA.gif" class="card-img" alt="Missão">
            </div>
        </div>
    </div>
    <hr class="w-100 my-0" >
    <!--Visão - Fitha-->
    <div class="" >
        <div class="row no-gutters d-flex justify-content-center">
            <div class="col-md-5 d-flex flex-column align-items-center">
                <img src="https://i.imgur.com/YmsOoUH.gif" class="card-img" alt="Visão">
            </div>

            <div class="col-md-5 mr-5">
                <div class="card-body d-flex flex-column h-100 justify-content-center">
                    <h2 class="text-md-right ml-md-auto " style='text-align:right' class="font_5">Visão</h2>
                    <p id="ancoradoEmValores" class="text-md-right ">Fazer que as pessoas economizem dinheiro ao aproveitar as
                        promoções mais próximas e assim aquecer a economia local e aumentar o poder aquisitivo da
                        comunidade como um todo.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr class="w-100 my-0">

    <!-- Valores - Fitha-->
    <div class="">
        <div  class="row no-gutters d-flex justify-content-center">
            <div class="col-md-5 pb-5 mt-5 ml-2">
                <div class="card-body d-flex flex-column h-100 justify-content-center pb-5">
                    <h2 class="text-md-left text-center" class="font_5">Valores</h2>
                    <p class="text-md-left text-center">A Fitha serve de elo entre o profissional e o cliente como
                        uma plataforma eficiente para possibilitar o desenvolvimento e ascensão de estilistas amadores
                        promovendo a criatividade e ao mesmo tempo em que atinge a satisfação.
                    </p>
                </div>
            </div>
            <div class="col-md-5 d-flex flex-column align-items-center">
                <img src="https://i.imgur.com/LspAVhM.gif" class="card-img" alt="valores">
            </div>
        </div>
    </div>

    <!--Nosso time-->
    <h2 class="font-cookie display-4 text-center p-5 " style="text-align:center;" class="font_5 mb-4">Nosso Time</h2>
    <div class="container">
        <div class="d-flex border-0 justify-content-around">
            <!--Claudia Yapuchura-->
            <div class="col-xs-3 col-sm-3 col-md-2 p-0">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body bg text-center d-flex">
                                    <p><img class=" img-fluid d-flex justify-content-center" src="https://i.imgur.com/xUsLkrM.jpg"
                                            alt="card image"></p>
                                    <h4 class="card-title">Claudia Yapuchura</h4>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4 bgg">

                                    <p class="card-text">Estudante Desenvolvedora Java Jr. na Generation
                                        Brasil.</p>
                                    
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-center" target="_blank"
                                                href="https://www.linkedin.com/in/claudia-yapuchura-saire/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Evelyn Oliveira-->
            <div class="col-xs-3 col-sm-3 col-md-2 p-0">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body bg text-center d-flex">
                                    <p><img class=" img-fluid d-flex justify-content-center" src="https://i.imgur.com/vrJ4KfI.png"
                                            alt="card image"></p>
                                    <h4 class="card-title"> Evelyn Oliveira </h4>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4 bgg">
                                    <p class="card-text">Estudante Desenvolvedora Java Jr. na Generation
                                        Brasil.</p>
                                    
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://www.linkedin.com/in/evelyn-vanielly/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Guilherme Carvalho-->
            <div class="col-xs-3 col-sm-3 col-md-2 p-0">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body bg text-center d-flex">
                                    <p><img class=" img-fluid d-flex justify-content-center" src="https://i.imgur.com/qNC76Og.png"
                                            alt="card image"></p>
                                    <h4 class="card-title">Guilherme Carvalho</h4>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4 bgg">

                                    <p class="card-text">Estudante Desenvolvedor Java Jr. na Generation
                                        Brasil.</p>
                                    
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://www.linkedin.com/in/guilherme-carvalho-lima-b62221158/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Icaro Duarte-->
            <div class="col-xs-3 col-sm-3 col-md-2 p-0">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body bg text-center d-flex ">
                                    <p><img class="img-fluid d-flex justify-content-center" src="https://i.imgur.com/23Kd572.png"
                                            alt="card image"></p>
                                    <h4 class="card-title">Icaro Duarte</h4>
                                </div>
                                
                            </div>
                        </div>

                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4 bgg">
                                    <p class="card-text">Estudante Desenvolvedor Java Jr. na Generation
                                        Brasil.</p>
                                    
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://www.linkedin.com/in/icaroduartec/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Matheus Alexandrino-->
            <div class="col-xs-3 col-sm-3 col-md-2 p-0">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body bg text-center d-flex">
                                    <p><img class=" img-fluid d-flex justify-content-center" src="https://i.imgur.com/7r23elP.png"
                                            alt="card image"></p>
                                    <h4 class="card-title">Matheus Alexandrino</h4>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4 bgg">
                                    <p class="card-text">Estudante Desenvolvedor Java Jr. na Generation
                                        Brasil.</p>
                                    
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://www.linkedin.com/in/matheus-alexandrino/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>