#tituloHeader{
    margin-top: 30px;
    max-width: 300px;
}
.container{
    position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.bg {
    width: 86rem;
    background-image: url(https://i.imgur.com/s7Jnl4x.png);
}

a {
    width: 215px;
}

/*Text Quem Somos*/
p {
    font-size: 19px;
}

text-center {
    align-items: center;
}

h1 {
    font-size: 30pt;
}

h3 {
    font-size: 30pt;
}

/*Font de Missão e Valores*/
.text-md-left {
    font-size: 16pt;
}

.text-md-right {
    font-size: 16pt;
}

.imageobj {
    width: 100%;
    height: 80%;   
}

.p-4 {
    padding: 1.5rem!important;
    padding-top: 1.5rem !important;
    padding-right: 6.5rem !important;
    padding-bottom: 1.5rem !important;
    padding-left: 6.5rem !important;
}

/*Cards de missão, visão e valores*/
.card {
    flex-direction: row;
}

.card-img {
    align-items: center;
    width: 70%;
    height: auto;
}

.d-flex {
    position: relative;
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
}

/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #23cea6;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(24, 22, 170);
    -moz-box-shadow: 5px 7px 9px -4px rgb(146, 126, 235);
    box-shadow: 5px 7px 9px -4px rgb(12, 4, 114);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.mat {
    font-size: 23px;
}

