<div class="justify-content-center">
    <header class="d-flex align-items-center justify-content-center">
        <div class="text-dark container-fluid row justify-content-center align-items-center">
            <div class="d-flex flex-column align-items-center justify-content-around">
                <h1 class="font-cookie display-6 text-center" id="tituloHeader">Quem Somos</h1>
                <div class="d-flex w-100 justify-content-center textSobre p-4">
                    <p id="texto text-center">
                        A Fitha nasce da união do acesso de produtos artesanais e a
                        ligação dos pequenos produtos de arte. Assim fortalece a
                        família e a comunidade local.
                    </p>
                    <!--Objetivos de Desenvolvimento Fitha-->
                    <p id="texto text-center">A Fitha se enquadra em 3 dos 17 ODS da ONU:</p>
                    <div class="card-deck justify-content-center">
                        <div class="card">
                            <img class="card-img-top" src="https://i.imgur.com/Q78UNUy.jpg" alt="Imagem de capa do card">
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="https://i.imgur.com/NSTPw7O.png" alt="Imagem de capa do card">
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="https://i.imgur.com/u9wvC1f.jpg" alt="Imagem de capa do card">
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="https://i.imgur.com/8sNZURQ.png" alt="Imagem de capa do card">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <!--Missão - Fitha-->
    <div style="margin-top: 5em;" >
        <div class="row no-gutters d-flex justify-content-center">
            <div class="col-md-5 pb-5 ml-5">
                <div class="card-body d-flex flex-column h-100 justify-content-center pb-5">
                    <h3 class="text-md-left text-center">Missão</h3>
                    <p class="text-md-left text-center">A Fitha serve de elo entre o profissional e o
                        cliente como uma plataforma eficiente para possibilitar o desenvolvimento e ascensão de
                        estilistas amadores promovendo a criatividade e ao mesmo tempo em que atinge a satisfação.
                    </p>
                </div>
            </div>
            <div class="col-md-5 d-flex flex-column align-items-center">
                <img src="https://i.imgur.com/RkKokQA.gif" class="card-img" alt="Missão">
            </div>
        </div>
    </div>
    <hr class="w-100 my-0" >
    <!--Visão - Fitha-->
    <div class="" id="">
        <div class="row no-gutters d-flex justify-content-center">
            <div class="col-md-5 d-flex flex-column align-items-center">
                <img src="https://i.imgur.com/YmsOoUH.gif" class="card-img" alt="Visão"></div>

            <div class="col-md-5 mr-5">
                <div class="card-body d-flex flex-column h-100 justify-content-center pb-5">
                    <h3 class="text-md-right ml-md-auto text-center">Visão</h3>
                    <p id="ancoradoEmValores" class="text-md-right text-center">Fazer que as pessoas economizem dinheiro ao aproveitar as
                        promoções mais próximas e assim aquecer a economia local e aumentar o poder aquisitivo da
                        comunidade como um todo.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr class="w-100 my-0">

    <!-- Valores - Fitha-->
    <div class="">
        <div  class="row no-gutters d-flex justify-content-center">
            <div class="col-md-5 pb-5 mt-5 ml-5">
                <div class="card-body d-flex flex-column h-100 justify-content-center pb-5">
                    <h3 class="text-md-left text-center">Valores</h3>
                    <p class="text-md-left text-center">A Fitha serve de elo entre o profissional e o cliente como
                        uma plataforma eficiente para possibilitar o desenvolvimento e ascensão de estilistas amadores
                        promovendo a criatividade e ao mesmo tempo em que atinge a satisfação.
                    </p>
                </div>
            </div>
            <div class="col-md-5 d-flex flex-column align-items-center">
                <img src="https://i.imgur.com/LspAVhM.gif" class="card-img" alt="valores">
            </div>
        </div>
    </div>


    <!--Nosso time-->
    <h1 class="font-cookie display-5 text-center">Nosso Time</h1>
    <div class="container-card align-items-center row">
        <div class="d-flex border-0 justify-content-center align-items-center">

            <!--Claudia Yapuchura-->
            <div class="size-cards pl-5">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body bg text-center">
                                    <p><img class=" img-fluid" src="https://i.imgur.com/xUsLkrM.jpg"
                                            alt="card image"></p>
                                    <h4 class="card-title">Claudia Yapuchura</h4>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body bg text-center mt-4">

                                    <p class="card-text">Estudante Desenvolvedora Java Jr. na Generation
                                        Brasil.</p>
                                    <p class="card-text">"Pitch pessoal"</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-center" target="_blank"
                                                href="https://www.linkedin.com/in/claudia-yapuchura-saire/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Evelyn Oliveira-->
            <div class="size-cards">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body bg text-center">
                                    <p><img class=" img-fluid" src="https://i.imgur.com/vrJ4KfI.png"
                                            alt="card image"></p>
                                    <h4 class="card-title"> Evelyn Oliveira </h4>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body bg text-center mt-4">
                                    <p class="card-text">Estudante Desenvolvedora Java Jr. na Generation
                                        Brasil.</p>
                                    <p class="card-text">"Pitch pessoal"</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://www.linkedin.com/in/evelyn-vanielly/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Guilherme Carvalho-->
            <div class="size-cards">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body bg text-center">
                                    <p><img class="img-fluid" src="https://i.imgur.com/qNC76Og.png"
                                            alt="card image"></p>
                                    <h4 class="card-title">Guilherme Carvalho</h4>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body bg text-center mt-4">

                                    <p class="card-text">Estudante Desenvolvedor Java Jr. na Generation
                                        Brasil.</p>
                                    <p class="card-text">"Pitch pessoal"</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://www.linkedin.com/in/guilherme-carvalho-lima-b62221158/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Icaro Duarte-->
            <div class="size-cards">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body bg text-center">
                                    <p><img class="img-fluid" src="https://i.imgur.com/23Kd572.png"
                                            alt="card image"></p>
                                    <h4 class="card-title">Icaro Duarte</h4>
                                </div>
                            </div>
                        </div>

                        <div class="backside">
                            <div class="card">
                                <div class="card-body bg text-center mt-4">
                                    <p class="card-text">Estudante Desenvolvedor Java Jr. na Generation
                                        Brasil.</p>
                                    <p class="card-text">"Pitch pessoal"</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://www.linkedin.com/in/icaroduartec/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Matheus Alexandrino-->
            <div class="size-cards pr-2">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body bg text-center">
                                    <p><img class="img-fluid foto" src="https://i.imgur.com/7r23elP.png"
                                            alt="card image"></p>
                                    <h4 class="card-title">Matheus Alexandrino</h4>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body bg text-center mt-4">
                                    <p class="card-text">Estudante Desenvolvedor Java Jr. na Generation
                                        Brasil.</p>
                                    <p class="card-text">"Pitch pessoal"</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://www.linkedin.com/in/matheus-alexandrino/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>