<div class=" container align-items-center">
    <header class="d-flex bg- dark align-items-center justify-content-center">
        <div class="text-dark container-fluid row justify-content-center align-items-center">
            <div class="d-flex flex-column align-items-center justify-content-around">
                <h1 class="font-cookie display-4 text-center">Quem Somos</h1>
                <div class="d-flex w-100 justify-content-between">

                    <p id="texto text-center">
                        A Fitha nasce da união do acesso de produtos artesanais e a
                        ligação dos pequenos produtos de arte. Assim fortalece a
                        família e a comunidade local.
                    </p>
                </div>
                <h1 class="font-cookie display-4 text-center">Nosso Time</h1>

                <div class="container align-items-center row">
                    <div class="d-flex border-0 justify-content-around align-items-center">

                        <div class="col-md-2 pl-0">
                            <div class="image-flip">
                                <div class="mainflip flip-0">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="https://i.imgur.com/xUsLkrM.jpg"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Claudia Yapuchura</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">

                                                <p class="card-text">Estudante Desenvolvedora Java Jr. na Generation
                                                    Brasil.</p>
                                                <p class="card-text">"Pitch pessoal"</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-center" target="_blank"
                                                            href="https://www.linkedin.com/in/claudia-yapuchura-saire/">
                                                            <i class="fa fa-linkedin"></i>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-3 col-sm-3 col-md-2 pl-0">
                            <div class="image-flip">
                                <div class="mainflip flip-0">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="https://i.imgur.com/vrJ4KfI.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Evelyn Oliveira</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">

                                                <p class="card-text">Estudante Desenvolvedora Java Jr. na Generation
                                                    Brasil.</p>
                                                <p class="card-text">"Pitch pessoal"</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                            href="https://www.linkedin.com/in/evelyn-vanielly/">
                                                            <i class="fa fa-linkedin"></i>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-3 col-sm-3 col-md-2 pl-0">
                            <div class="image-flip">
                                <div class="mainflip flip-0">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="https://i.imgur.com/qNC76Og.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Guilherme Carvalho</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">

                                                <p class="card-text">Estudante Desenvolvedor Java Jr. na Generation
                                                    Brasil.</p>
                                                <p class="card-text">"Pitch pessoal"</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                            href="https://www.linkedin.com/in/guilherme-carvalho-lima-b62221158/">
                                                            <i class="fa fa-linkedin"></i>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-2 pl-0">
                            <div class="image-flip">
                                <div class="mainflip flip-0">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class="img-fluid" src="https://i.imgur.com/7r23elP.png"
                                                        alt="card image"></p>
                                                <h4 class="mat card-title">Matheus Alexandrino</h4>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">

                                                <p class="card-text">Estudante Desenvolvedor Java Jr. na Generation
                                                    Brasil.</p>
                                                <p class="card-text">"Pitch pessoal"</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                            href="https://www.linkedin.com/in/matheus-alexandrino/">
                                                            <i class="fa fa-linkedin"></i>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xs-3 col-sm-3 col-md-2 pr-0 pl-0">
                            <div class="image-flip">
                                <div class="mainflip flip-0">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="https://i.imgur.com/23Kd572.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Icaro Duarte</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">

                                                <p class="card-text">Estudante Desenvolvedor Java Jr. na Generation
                                                    Brasil.</p>
                                                <p class="card-text">"Pitch pessoal"</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                            href="https://www.linkedin.com/in/icaroduartec/">
                                                            <i class="fa fa-linkedin"></i>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>















                    </div>
                </div>

            </div>
        </div>

    </header>



</div>