body{
    background-color: rgb(235, 235, 235);
}
.btn{
    border:none;
    font-weight: bolder;
    height: 50px;
    width: 150px;
    color: white;
background-color: #a125ce;
}
.btn:focus, .btn:active{
    outline:none !important;
    box-shadow: none !important;
}
.neon:active{
    color: white;
    background-color: #2f4ac2;
        box-shadow: 0 0 0 0;
        border: 0 none;
      
    
}
button:hover{
    color: white;
    background-color: #a125ce;
}

.categoria{
    color: turquoise;
    font-size: 25px;
    margin-top: 43px;
    text-align: center;
}

.semborda:focus, .semborda:active{
    outline:none !important;
    box-shadow: none !important;
}

.pessoas{
    font-size: 18px;
    text-align: justify;
}

h2 {
    font-size: 26px;
}

.container {
    display: flex;
    align-items: center;
    align-content: center;
}

.card {
    width: 25vw;

}

.card-body {
    width: 100%;
    padding: 0px;
    text-align: center;
}

.card-img-top {
    width: 250px;
    height: 250px;
}

.card-title {
    width: 250px;
}

.card-text {
    text-align: center;
}

.card-about {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #b46cce70;
}

.container-about .col-md-8 {
    padding: 0px;
}

.btn {
    align-items: center;
}



