body{
    background-color: rgb(235, 235, 235);
}
.btn{
    border:none;
    font-weight: bolder;
    height: 50px;
    width: 150px;
    color: white;
background-color: #a125ce;
}
.btn:focus, .btn:active{
    outline:none !important;
    box-shadow: none !important;
}
.neon:active{
    color: white;
    background-color: #2f4ac2;
        box-shadow: 0 0 0 0;
        border: 0 none;
      
    
}
button:hover{
    color: white;
    background-color: #a125ce;
}

.categoria{
    color: turquoise;
    font-size: 25px;
    margin-top: 43px;
    text-align: center;
}

.semborda:focus, .semborda:active{
    outline:none !important;
    box-shadow: none !important;
}

.pessoas{
    font-size: 20px;
    text-align: justify;
}