<div class="d-flex" id="wrapper">

    <!-- Sidebar -->

    <div class="bg-light border-right" id="sidebar-wrapper">
      
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Itens</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
      </div>
    </div>
    


<!--inicio grupo de cards fileira 1-->

<div class="container d-flex justify-content-center mr-0 mt-5 ">
    <div class="row row-cols-md-6 w-100 ">

        <div class="col mb-4 ">
            <div class="card ">
                <img src="https://avozdaserra.com.br/sites/default/files/noticias/dicas-de-artesanato-para-vender_0.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="stretched-link">
                        <h5 class="card-title">Produto</h5>
                    </a>
                    <p class="card-text ">Breve descrição.</p>

                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <img src="https://avozdaserra.com.br/sites/default/files/noticias/dicas-de-artesanato-para-vender_0.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="stretched-link">
                        <h5 class="card-title">Produto</h5>
                    </a>
                    <p class="card-text">Breve descrição.</p>

                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <img src="https://avozdaserra.com.br/sites/default/files/noticias/dicas-de-artesanato-para-vender_0.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="stretched-link">
                        <h5 class="card-title">Produto</h5>
                    </a>
                    <p class="card-text">Breve descrição.</p>

                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <img src="https://avozdaserra.com.br/sites/default/files/noticias/dicas-de-artesanato-para-vender_0.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="stretched-link">
                        <h5 class="card-title">Produto</h5>
                    </a>
                    <p class="card-text">Breve descrição.</p>

                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <img src="https://avozdaserra.com.br/sites/default/files/noticias/dicas-de-artesanato-para-vender_0.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="stretched-link">
                        <h5 class="card-title">Produto</h5>
                    </a>
                    <p class="card-text">Breve descrição.</p>

                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <img src="https://avozdaserra.com.br/sites/default/files/noticias/dicas-de-artesanato-para-vender_0.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="stretched-link">
                        <h5 class="card-title">Produto</h5>
                    </a>
                    <p class="card-text">Breve descrição.</p>

                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <img src="https://avozdaserra.com.br/sites/default/files/noticias/dicas-de-artesanato-para-vender_0.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="stretched-link">
                        <h5 class="card-title">Produto</h5>
                    </a>
                    <p class="card-text">Breve descrição.</p>

                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <img src="https://avozdaserra.com.br/sites/default/files/noticias/dicas-de-artesanato-para-vender_0.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="stretched-link">
                        <h5 class="card-title">Produto</h5>
                    </a>
                    <p class="card-text">Breve descrição.</p>

                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <img src="https://avozdaserra.com.br/sites/default/files/noticias/dicas-de-artesanato-para-vender_0.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="stretched-link">
                        <h5 class="card-title">Produto</h5>
                    </a>
                    <p class="card-text">Breve descrição.</p>

                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <img src="https://avozdaserra.com.br/sites/default/files/noticias/dicas-de-artesanato-para-vender_0.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="stretched-link">
                        <h5 class="card-title">Produto</h5>
                    </a>
                    <p class="card-text">Breve descrição.</p>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <img src="https://avozdaserra.com.br/sites/default/files/noticias/dicas-de-artesanato-para-vender_0.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="stretched-link">
                        <h5 class="card-title">Produto</h5>
                    </a>
                    <p class="card-text">Breve descrição.</p>

                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <img src="https://avozdaserra.com.br/sites/default/files/noticias/dicas-de-artesanato-para-vender_0.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="stretched-link">
                        <h5 class="card-title">Produto</h5>
                    </a>
                    <p class="card-text">Breve descrição.</p>

                </div>
            </div>
        </div>
    </div>
</div>



<!--fim grupo de cards fileira 1-->