<section class="mt-5">
	<div class="container">
		<div id="conteudo" class="mt-2">
			<div id="primeiraLinha" class="row justify-content-center">
				<div class="col-md-4 col-sm-12">
					<h5><a [routerLink]="['/produtos']">Todos os Produtos</a></h5>
				</div>
				<div class="col-md-4 col-sm-12">
					<h5><a [routerLink]="['/quemsomos']">Quem Somos</a></h5>
					<span class="animate-border3 border-black"></span>
				</div>
				<div class="col-md-4 col-sm-12">
					<h5><a [routerLink]="['/contato']">Contato</a></h5>
					<span class="animate-border4 border-black"></span>
				</div>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-12 mt-1">
				<h3 class="text-center"><strong>Conheça Nossas Redes Sociais</strong></h3>
				<ul class="list-unstyled list-inline text-center">
					<li class="list-inline-item facebook"><a href="https://www.facebook.com/ForQueensProfissional/"
							target="_blank"><i class="fa fa-facebook margin_facebook"></i></a></li>
					<li class="list-inline-item instagram"><a href="https://www.instagram.com/forqueensprofessional/"
							target="_blank"><i class="fa fa-instagram"></i></a></li>
				</ul>
			</div>
			<hr>
		</div>

		<div class="row mt-1">
			<div class="col-12 text-center">
				<p>Fitha. Brasil, São Paulo.</p>
				<p>Copyright© 2020. All right reserved.</p>
			</div>
		</div>
	</div>
</section>
<!-- ./Footer -->