<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <a class="navbar-brand" href="#">FITHA</a>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      
  <div class="container-fluid"> 
    <div class="navbar-header">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown marges-opciones-left"><a href="#" class="dropdown-toggle" 
        data-toggle="dropdown" role="button" aria-expanded="false"> 
        <i class="material-icons" style="font-size: 20px" ><img src="https://img.icons8.com/cotton/2x/menu.png" alt="" class="w-25"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="underconstruction.html"><i class="material-icons">settings</i>  Preferències</a></li>
            <li><a href="underconstruction.html"><i class="material-icons">lock</i>  Canviar password</a></li>
            <li class="divider"></li>   
            <li><a href="logout.php"><i class="material-icons" style="font-size:15px">power_settings_new</i>  Log out</a></li>
          </ul>
        </li>
      </ul>

    </div> 
  </div>

      
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
    </form>
  </div>
</nav>