
 #menuToggle /*coloca o menu dentro da navbar */
 {
 
   display: block;
   position: relative;
   align-items: center;
   margin-left:20px;

  z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a /* altera letra, cor da letra */
 {
   text-align: center;
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover /*cor da letra quando passa o mouse */
 {
   color: tomato;
 }
 
 
 #menuToggle input /* altera clique no menu e ele aparecer */
 {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
   
   
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }

 #menuToggle span /*animação e cor do icone*/
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 

 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 

 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 

 #menu /*mexe no tamanho do menu */
 {
   position: absolute;
   width: 300px;
   margin: 0 0 0 -50px; /*mexe na distancia embaixo do menu */
   padding: 50px;
   border-radius: 20px 20px 20px 20px;
   
   background: #68c4d4;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li /* mexe no espaçamento dos botões dentro */
 {
   padding: 10px 0;
   font-size: 14px;
   border-bottom:2px solid;
   
 }
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }
.margi{
  margin:0px 0px 10px 40px;
}

