<nav class="navbar navbar-light bg-light">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <a href="#">
        <li>Home</li>
      </a>
      <a href="#">
        <li>About</li>
      </a>
      <a href="#">
        <li>Info</li>
      </a>
      <a href="#">
        <li>Contact</li>
      </a>
    </ul>
  </div>

  <a class="navbar-brand  mr-auto margi" href="#">Fitha</a>


  <div class="container text-center">
    <form class="form-inline">
      <input class="form-control  search-box" type="search" placeholder="busque aqui seu produto" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0 button-box" type="submit">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
          <path fill-rule="evenodd"
            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
        </svg>
      </button>
    </form>
  </div>
  <div *ngIf='auth.btnLogin()'>
    <button type="button" class="btn btn-outline-info mr-2" routerLink = "/login">
      <svg width=" 20px" height="20px" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
        <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
        <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
      </svg>
      Entrar

    </button>
  </div>

  <div *ngIf='auth.btnSair()'>

    <button type="button" class="btn btn-outline-info mr-2">
      <svg width=" 20px" height="20px" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg" (click)='sair()'>
        <path
          d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
        <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
        <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
      </svg>
      Sair
    </button>

  </div>


  <button type="button" class="btn btn-outline-info mr-4">
    <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-cart-plus-fill" fill="currentColor"
      xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
        d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM4 14a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm7 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0   0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
    </svg>
    Carrinho
  </button>
</nav>

<div id="modal" class="modal fade" tabindex="-1" role="dialog">
  <!-- Início do código da janela modal -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <!-- Header do modal -->
        <h4 class="modal-title ">Login</h4><!-- Título -->
      </div>
      <div class="modal-body">
        <!-- Corpo do modal -->
        <div action="">
          <!-- Início do Formulário -->
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Digite seu email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Digite sua senha">
          </div>
          <button class="btn btn-block btn-info">Enviar</button>
        </div>
      </div>
      <div class="modal-footer">
        <!-- Footer do Modal -->
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Fechar <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default" [routerLink]="['/cadastro']">
          Cadastre-se
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
</div>