#titulo{
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    color: black;
}


.aux{
    text-align: center;
    color: black;
} 

.dados {
    color: black;
}
.erro{
    color: red;
}

.required:after {
    content:"*"; 
    color: red; 
}  
 
h2{
    padding-top: 2%;
} 

#formCadastro{
    padding-top: 1%;
    padding-left: 11.3%;
    padding-right: 12%;
}
.texto{
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    color: black;
    font-size: 16px;
}

.btn:focus, .btn:active{
    outline:none !important;
    box-shadow: none !important;
}
button{
    border:none;
    font-weight: bolder;
    height: 40px;
    width: 320px;
    color: white;
background-color: #a125ce;
}
.neon:active{
    color: white;
    background-color:  #2f4ac2 ;
        box-shadow: 0 0 0 0;
        border: 0 none;
}
button:hover{
    color: white;
    background-color: #a125ce;
}