.btn:focus, .btn:active{
    outline:none !important;
    box-shadow: none !important;
}
button{
    border:none;
    font-weight: bolder;
    height: 50px;
    width: 120px;
    color: white;
background-color: #a125ce;
}
.neon:active{
    color: white;
    background-color: #2f4ac2;
        box-shadow: 0 0 0 0;
        border: 0 none;
}
button:hover{
    color: white;
    background-color: #a125ce;
}
.font-preco{
    font-size: 20px;
}
.color-letra{
    color: #00e1b8;
    font-weight: bolder
}


.input-tam{
    height: 50px;
    width:100px;
}

.carousel-inner{
    height: auto;
}
