<div class="container-fluid mt-5">


    <div class="container-fluid" id="faleConosco">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>
                    <strong>CONTATO</strong>
                </h2>
            </div>

        </div>
        <hr>
        <div class="row" id="linhaContato">
            <div class="col-md-12 text-center">
                <p>Utilize o formulario abaixo para entrar em contato conosco, enviar depoimento, criticas e sugestões:
                </p>
            </div>

        </div>
    </div>

    <div id="formContato">

        <div class="row d-flex justify-content-center">
            <div class="form-group col-md-4">
                <label for="text">Nome*</label><br>
                <input type="text" class="form-control" id="nome" placeholder="Digite seu nome">
            </div>
            <div class="form-group col-md-4">
                <label for="text">Sobrenome*</label>
                <input type="text" class="form-control" id="sobrenome" placeholder="Digite seu sobrenome">
            </div>
        </div>

        <div class="form-group">
            <div class="row d-flex justify-content-center">
                <div class="col-md-4">
                    <label for="E-mail">E-mail*</label>
                    <input type="email" class="form-control" id="email" placeholder="email@gmail.com">
                </div>

                <div class="col-md-4">
                    <label for="inputFone" class="control-label">Telefone*</label>
                    <input type="tel" class="form-control phone-ddd-mask" id="telefone" maxlength="15"
                        placeholder="(11) 99999-9999" name="contact[telephone]" id="telefone_contato">
                </div>

            </div>
        </div>

        <div class="form-group ">
            <div class="row d-flex justify-content-center">
                <div class="col-md-4">
                    <label for="input">Tipo de contato*</label>
                    <select id="tipoReclamacao" class="form-control">
                        <option>Sugestões</option>
                        <option>Elogios</option>
                        <option>Duvidas</option>
                        <option>Reclamações</option>
                    </select>

                </div>
                <div class="col-md-4">
                    <label for="input" required>Assunto*</label>
                    <input type="text" id="assunto" class="form-control" placeholder="Assunto da mensagem">

                </div>
            </div>
        </div>

        <div class="form-group ">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <label for="exampleFormControlTextarea1">Digite sua mensagem*</label>
                    <textarea class="form-control" id="textarea" rows="3"></textarea>

                </div>
                   

            </div>
        </div>

        <div class="row d-flex justify-content-center mr-auto  ">
            <button type="submit" id="btnEnviarContato" class="btn btn-outline-success">Enviar</button>
        </div>
    </div>
</div>